<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="head :: head" />
    <title>myoffers</title>
</head>
<body>
        <div th:replace="navbar :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>My Offers</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Offer</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Avengers</td>
                            <td>Buy 1 Get 1 Free</td>
                            <td>$10</td>
                            <td>10</td>
                            <td><a href="http://localhost:8080/myoffers/1/edit">Edit</a> | <a href="http://localhost:8080/myoffers/1/delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td>Avengers</td>
                            <td>Buy 1 Get 1 Free</td>
                            <td>$10</td>
                            <td>10</td>
                            <td><a href="http://localhost:8080/myoffers/1/edit">Edit</a> | <a href="http://localhost:8080/myoffers/1/delete">Delete</a></td>
                        </tr>
                        <tr>
                            <td>Avengers</td>
                            <td>Buy 1 Get 1 Free</td>
                            <td>$10</td>
                            <td>10</td>
                            <td><a href="http://localhost:8080/myoffers/1/edit">Edit</a> | <a href="http://localhost:8080/myoffers/1/delete">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <div th:replace="footer :: footer"></div>

</body>
</html>