<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="head :: head" />
    <title>mytickets</title>
</head>

<body>
    <div th:replace="navbar :: navbar"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>My Tickets</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th>Price</th>
                            <th>Seat</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ticket : ${tickets}">
                            <td th:text="${ticket.showtime.movie.title}"></td>
                            <td th:text="${ticket.showtime.time}"></td>
                            <td th:text="${ticket.showtime.theater.address}"></td>
                            <td th:text="${ticket.price}"></td>
                            <td th:text="${ticket.seat.seat_number}"></td>
                            <td>
                                <form th:action="@{ticket/cancel}" method="post">
                                    <input type="hidden" th:name="ticketId" th:value="${ticket.id}" />
                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div th:replace="footer :: footer"></div>

</body>

</html>